:root {
  /* Primary */
  --LightCyan: hsl(193, 38%, 86%);
  --NeonGreen: hsl(150, 100%, 66%);
  /* ### Neutral */
  --GrayishBlue: hsl(217, 19%, 38%);
  --DarkGrayishBlue: hsl(217, 19%, 24%);
  --DarkBlue: hsl(218, 23%, 16%);
}
* {
  /* overflow: hidden; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Manrope", sans-serif;
  font-size: 26px;
  background: var(--DarkBlue);
  margin: 10rem auto;
  width: 600px;
  position: relative;
}

/* Advice */
.advice-bg {
  background: var(--DarkGrayishBlue);
  text-align: center;
  padding: 0 50px;
  color: var(--LightCyan);
  border-radius: 15px;
  position: relative;
}
.advice-header {
  color: var(--NeonGreen);
  font-size: 15px;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  padding: 2rem;
}

.footer-style{
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 37px;
  
}
.footer-style div{background-color: var(--LightCyan);
  margin: 0 5px;
  
}
.style-1 {
   width: 100%;
  border: 1px var(--LightCyan) outset;
  opacity: 25%;
}
.style-2 {
  border-radius: 30%;
  padding: 10px 3px; 
}
.style-3 {
  border-radius: 30%;
  padding: 10px 3px;
}
.style-4 {
  width: 100%;
  border: 1px var(--LightCyan) outset;
  opacity: 25%;
}

.shine{
  margin: auto;
  height:80px;
  width: 80px;
  padding: 27px;
  border-radius: 50%;
  background: var(--NeonGreen);
 position: relative;
 
  bottom: -35px;
   /* display: flex; */
  /* justify-content: center; */
}
.shine:hover{
  box-shadow: 0px 0px 40px 1px  hsl(150, 86%, 70%);
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 10rem;
}
.attribution a {
  color: var(--LightCyan);
}

@media screen and (max-width:500px) {
body {
  font-size: 17px;
  margin: 10rem auto;
  width: 350px;
}
  .advice-bg {
  padding: 0 10px;}
.shine{
  margin: auto;
  height:50px;
  width: 50px;
  padding: 13px;
  border-radius: 50%;
  background: var(--NeonGreen);
 position: relative;
 
  bottom: -25px;
   /* display: flex; */
  /* justify-content: center; */
}
.footer-style{
  
  margin-top: 15px;
}
.shine:hover{
  box-shadow: 0px 0px 30px 1px  hsl(150, 86%, 70%);
}
}
